@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* fonts */
  --font-main: "Kumbh Sans", sans-serif;
  --weight: 500;

  /* colors */
  --bg-color: #fff;
  --text-color: #000;

  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
div,
button,
label,
input,
textarea {
  font-family: var(--font-main);
  font-weight: var(--weight);
  line-height: 1.25;
  text-decoration: none;
  overflow: visible;
}
